* {
  box-sizing: border-box;
}

//ChemiStory
.chemistory {
  .main {
    padding-left: 6.944vw;
    padding-right: 6.25vw;
    margin-bottom: 3.472vw;
    width: 100vw;
    height: 11.806vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./../../../../public/chemiverse_img/bg-quiz-wrap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
  }
  .mainTxt {
    display: flex;
    align-items: center;
  }
  .mainTxt span {
    display: inline-block;
    color: #fff;
    &:first-child {
      font-size: 3.333vw;
      font-weight: 700;
      margin-right: 2.083vw;
    }
    &:last-child {
      font-size: 0.833vw;
      line-height: 1.5;
      font-weight: 500;
    }
  }
  .mainImg {
    width: 15.833vw;
    height: auto;
  }
}

//ChemiNav
.nav ul li{
    color:#6F76C1;
    border: 0.139vw solid #6F76C1;
    margin-bottom: 50px;
    width: 17.361vw;
    height: 3.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.181vw;
    font-weight: 500;
    *{
      text-decoration: none;
    }
    &:first-child{
      border-top-left-radius: 0.347vw;
      border-bottom-left-radius: 0.347vw;
      border-right: none;
    }
    &:nth-child(2){
      border-right: none;
    }
    &:last-child{
      border-top-right-radius: 0.347vw;
      border-bottom-right-radius: 0.347vw;
      border-left: none;
    }
    :hover{
      color:#424888;
      transition: all 0.2s;
    }
  }

.navbtn {
  &.on {
    color: #424888;
    font-weight: 900;
    font-size: 1.25vw;
  }
}

//WriteChemiStory
.WriteChemiStory{
  width: 1200px;
  margin: 10px auto;
  .pin{
    font-size: 20px;
    margin-bottom: 15px;
    color: rgba(75, 80, 132, 0.721);
  }
  .title{
    display: inline-block;
    text-align: center;
    width: 1200px;
    color: #6F76C1;
    font-size: 30px;
    // border-bottom: 2px solid #c8c8c8;
    padding-bottom: 80px;
  }
  .subTitle{
    .module{
      display: flex;
      .img{
        display: flex;
        justify-content: flex-start;
        width: 50px;
        height: auto;
      }
    }
  }
}
