.connectMain {
  margin: 0 0.5vw;
}
.connectMain .slidingList {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.connectMain .slidingList .slidingItem {
  width: 16vw;
  height: 75vh;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.connectMain .slidingList .slidingItem .popImg {
  display: none;
}
.connectMain .slidingList .slidingItem .bgImg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.connectMain .slidingList .slidingItem .connectTitle {
  font-size: 2vw;
  width: 80%;
  padding: 2.778vw 1.389vw 1.389vw;
  margin: auto;
  word-break: keep-all;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
  text-align: right;
}
.connectMain .slidingList .slidingItem .connectSubTitle {
  font-size: 1vw;
  width: 80%;
  padding: 0 1.389vw;
  margin: auto;
  word-break: keep-all;
  line-height: 1.5;
  color: rgba(72, 72, 72, 0.75);
  text-align: right;
}
.connectMain .slidingList .slidingItem .connectDesc {
  display: none;
}
.connectMain .slidingList .slidingItem .linkBtn {
  display: none;
}
.connectMain .slidingList .welcomeSlide {
  background-color: #ffefca;
}
.connectMain .slidingList .introduceSlide {
  background-color: #eee8aa;
}
.connectMain .slidingList .readySlide {
  background-color: #d2edec;
}
.connectMain .slidingList .homeNoticeSlide {
  background-color: #cfd3ff;
}
.connectMain .slidingList .on {
  width: 40vw;
  text-align: left;
  background: #fff;
  border: 1px solid #e6e0ec;
  box-shadow: rgba(0, 0, 0, 0.15) 1.042vw 1.042vw 1.042vw;
  transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateY(-2.778vw);
}
.connectMain .slidingList .on .connectTitle {
  position: absolute;
  right: 10%;
  top: 6.944vw;
}
.connectMain .slidingList .on.readySlide .connectTitle {
  right: 5%;
}
.connectMain .slidingList .on .connectSubTitle {
  display: none;
}
.connectMain .slidingList .on .popImg {
  width: 23vw;
  float: right;
  position: relative;
  right: -0.3vw;
  top: -0.3vw;
  display: block;
}
.connectMain .slidingList .on .bgImg {
  display: none;
}
.connectMain .slidingList .on .descArea {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  padding-bottom: 2.083vw;
}
.connectMain .slidingList .on .connectDesc {
  display: block;
  width: 70%;
  font-size: 1.25vw;
  line-height: 1.4;
}
.connectMain .slidingList .on .linkBtn {
  font-size: 2.083vw;
  display: block;
}
.connectMain .slidingList .on .linkBtn:hover {
  color: #93b0ff;
  transition: 0.2s;
}

@media (max-width: 720px) {
  .connectMain .slidingList {
    display: block;
  }
  .connectMain .slidingList .slidingItem {
    width: 90vw;
    margin: auto;
    height: 15vh;
    margin-top: -3.472vw;
  }
  .connectMain .slidingList .slidingItem .connectTitle {
    display: flex;
    font-size: 4.167vw;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 95%;
  }
  .connectMain .slidingList .slidingItem .connectTitle svg {
    font-size: 10vw;
    color: white;
    height: 7.5vh;
  }
  .connectMain .slidingList .slidingItem .connectTitle p {
    line-height: 11vw;
  }
  .connectMain .slidingList .on {
    transform: translateY(0);
    box-shadow: none;
    height: 50vh;
  }
  .connectMain .slidingList .on .connectTitle {
    font-size: 4.167vw;
    top: 11.111vw;
    right: 5.556vw;
  }
  .connectMain .slidingList .on .connectTitle svg {
    opacity: 0;
  }
  .connectMain .slidingList .on .popImg {
    width: 34.722vw;
  }
  .connectMain .slidingList .on .descArea {
    flex-direction: column-reverse;
    margin: 4.083vw;
  }
  .connectMain .slidingList .on .connectDesc {
    font-size: 16px;
    width: 60%;
    padding-top: 3.944vw;
  }
  .connectMain .slidingList .on .linkBtn {
    font-size: 4.167vw;
    top: 40%;
    left: 2.778vw;
  }
  .connectMain .slidingList .on.readySlide .connectTitle {
    right: 0.833vw;
  }
  .connectMain .slidingList .welcomeSlide {
    margin-top: 4.167vw;
  }
}/*# sourceMappingURL=connect.module.css.map */