@media screen and (min-width: 721px) {
  .mainHeaderBox {
    width: 100vw;
    box-shadow: 0 4px 4px -4px black;

    /* > ::after {
    content: "";
    width: 100vw;
    background-color: gray;
    opacity: 0.3;
    position: absolute;
    top: 6.7vw;
    left: -3.7vw;
    height: 0.1vw;
  } */
    .inner {
      width: 92.639vw;
      margin: 0 auto;
      height: 6.7vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      display: flex;
      position: relative;
      .login {
        position: absolute;
        top: 0.7vw;
        right: 0.2vw;
        display: flex;
        justify-content: space-between;
        font-size: 0.764vw;
        * {
          text-decoration: none;
        }
        li {
          margin-left: 1vw;
          color: #6c6c6c;
          font-size: 0.82vw;
          cursor: pointer;
        }
      }
      .mainHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 0px;
          a {
            display: block;
            width: 10.486vw;
            height: 2.639vw;
            background: url(../../../public/chemiverse_img/logo2.png) center;
            background-size: cover;
          }
        }
      }
    }
  }
  .searchIcon {
    display: none;
  }
  .searchBox {
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    width: 14.625vw;
    height: 2.083vw;
    input {
      width: 12.917vw;
      font-size: 0.347vw;
      background-color: #f3f3f3;
      outline: none;
      font-size: 0.5vw;
    }
    button {
      width: 1.25vw;
      height: 1.25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        color: #838383;
      }
    }
    * {
      background-color: #f3f3f3;
    }
  }

  .login_btn {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    :hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}

.sidebar {
  display: none;
}

//모바일 시작

@media screen and (max-width: 720px) {
  .mainHeaderBox {
    height: 60px;
  }
  .mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    h1 {
      font-size: 0px;
      a {
        display: block;
        width: 100px;
        height: 5.639vw;
        background: url(../../../public/chemiverse_img/logo2.png) center
          no-repeat;
        background-size: contain;
        margin-left: 5vw;
      }
    }
  }
  .searchBox {
    display: none;
  }
  .searchIcon {
    display: block;
    font-size: 30px;
    color: #b1b8c1;
  }
  .inner {
    .login {
      display: none;
    }
  }

  .mobile_right {
    display: flex;
  }
  input[id="menuicon"] {
    display: none;
  }
  input[id="menuicon"] + label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 5vw;
    z-index: 2;
  }
  input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #b1b8c1;
    transition: all 0.35s;
  }
  input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
  }
  input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
  }
  input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  .sidebar {
    display: block;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 60px;
    right: -100%;
    z-index: 1;
    transition: all 0.35s;
  }
  input[id="menuicon"]:checked + label + div {
    right: 0;
  }

  .navlist_white {
    color: #222;
    text-align: left;
    font-size: 6vw;
    height: 6vw;
    margin: 6vw auto;
    // border-bottom:1px solid #ccc ;
    font-weight: bold;
    padding-left: 5vw;
  }
}
