.mainPage {
  width: 100vw;
  height: 150vh;
  background: url("../../../public/chemiverse_img/img-main.png") no-repeat
    center;
  background-size: contain;
  background-color: #e7ecfa;
  .img1{
    position: absolute;
    width: 17vw;
    top: 30%;
    left: 19%;
    opacity: 0.6;
  }
  .img2{
    position: absolute;
    width: 25vw;
    top: 140%;
    left: 10%;
    opacity: 0.6;
  }
  .img3{
    position: absolute;
    width: 15vw;
    top: 40%;
    right: 1%;
    opacity: 0.6;
  }
}

.hoverBox {
  .box {
    width: 11.111vw;
    height: 11.111vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all 2s;
  }
  .box1{
    // border: 2px solid red;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
      .connectWith{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box2{
    // border: 2px solid orange;
    position: absolute;
    top: 60%;
    left: 21%;
    &:hover{
      .move{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box3{
    // border: 2px solid yellow;
    position: absolute;
    top: 50%;
    left: 61%;
    &:hover{
      .guide{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
    .box4{
    // border: 2px solid green;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
      .learning{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box5{
    // border: 2px solid blue;
    position: absolute;
    top: 92%;
    left: 30%;
    &:hover{
      .chemiStory{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box6{
    // border: 2px solid darkblue;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
      .post{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box7{
    // border: 2px solid purple;
    position: absolute;
    top: 88%;
    left: 57%;
    &:hover{
      .mentoring{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .box8{
    // border: 2px solid pink;
    position: absolute;
    top: 70%;
    left: 75%;
    &:hover{
      .diagnosis{
        opacity: 1;
        transition: all .7s;
      }
    }
  }
  .common{
    cursor: default;
    opacity: 0;
    width: 16.389vw;
    height: 7.292vw;
    background-image: url("../../../public/chemiverse_img/bg-rectangle@3x.png");
    background-size: cover;
    position: absolute;
    top: -35%;
    left: -20%;
    padding-top: 14%;
    *{
      text-decoration: none;
    }
    p{
      font-size: 0.8vw;
      color: #6F76C1;
      font-weight: 600;
    }
    span{
      vertical-align: middle;
      font-size: 1.2vw;
      font-weight: 700;
      padding-top: 10px;
      color: #1d2048;
    }
    .icon{
      font-size: 1.4vw;
      color: #6F76C1;
      font-weight: 900;
      vertical-align: middle;
    }
  }
}
