.navBox .nav {
  width: 58.889vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.navBox .nav li {
  color: #6f76c1;
  font-size: 1.389vw;
  font-weight: bold;
  height: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7.778vw;
}
.navBox .nav li:hover::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 100%;
  background-color: #6f76c1;
  position: absolute;
  top: 2vw;
  right: 0;
  transform: translateX(-50%);
  order: 10;
}
.navBox .nav li:nth-child(1) {
  width: 9vw;
}
.navBox .nav li:nth-child(3) {
  width: 6vw;
}
.navBox .nav li:nth-child(5) {
  width: 9vw;
}
.navBox .nav li * {
  text-decoration: none;
}
.navBox .nav li a {
  display: block;
  height: 6.667vw;
  line-height: 6.667vw;
}
.navBox .nav li a:hover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabmenuBox {
  height: 0;
  overflow: hidden;
}
.tabmenuBox .tabmenu {
  display: flex;
  justify-content: flex-end;
  width: 58%;
  right: 10%;
  z-index: 12;
}
.tabmenuBox .tabmenu ul {
  display: flex;
  flex-direction: column;
}
.tabmenuBox .tabmenu ul::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0.3vw;
  background-color: #6f76c1;
  z-index: 10;
}
.tabmenuBox .tabmenu ul:hover {
  background-color: rgba(217, 217, 217, 0.3);
}
.tabmenuBox .tabmenu ul:hover:nth-child(1)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 100%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 34%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(2)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 40.5%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(3)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 49%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(4)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 58.7%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(5)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 67%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(6)::before {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.6vw;
  left: 75.5%;
  transform: translateX(-50%);
  order: 10;
}
.tabmenuBox .tabmenu ul:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3vw;
  background-color: #6f76c1;
  z-index: 10;
  transition: all 0.5s;
}

.navBox:hover .tabmenuBox {
  transition: all 0.3s linear;
  background-color: rgb(255, 255, 255);
  height: 16vw;
  width: 100vw;
  position: absolute;
  top: 5.1vw;
  left: -3.72vw;
  width: 100vw;
}
.navBox:hover .tabmenuBox .tabmenu {
  width: 58%;
  position: relative;
}
.navBox:hover .tabmenuBox .tabmenu ul {
  height: 16vw;
  position: relative;
  left: 27.95vw;
  display: flex;
  justify-content: flex-start;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(4) {
  width: 9.8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(4) li {
  width: 9.8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(5) {
  width: 8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(5) li {
  width: 8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(6) {
  width: 8.5vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(6) li {
  width: 8.5vw;
}
.navBox:hover .tabmenuBox .tabmenu ul li {
  display: flex;
  justify-content: center;
  width: 7.7vw;
  padding: 1vw 0;
}
.navBox:hover .tabmenuBox .tabmenu ul li * {
  color: #a9a9a9;
  font-size: 1.111vw;
}
.navBox:hover .tabmenuBox .tabmenu ul li:hover {
  position: relative;
}
.navBox:hover .tabmenuBox .tabmenu ul li:hover * {
  color: #232323;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0.417vw solid #9eb6f6;
  box-shadow: inset 0 -0.278vw 0 #9eb6f6;
  transition: all 0.35s;
}

@media screen and (max-width: 720px) {
  .navBox {
    display: none;
  }
}/*# sourceMappingURL=nav.module.css.map */