.navBox .nav {
  width: 58.889vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.navBox .nav li {
  color: #6f76c1;
  font-size: 1.389vw;
  font-weight: bold;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7.778vw;
}
.navBox .nav li:nth-child(1) {
  margin: 0 1vw;
}
.navBox .nav li:nth-child(3) {
  width: 6vw;
}
.navBox .nav li:nth-child(5) {
  width: 9vw;
}
.navBox .nav li * {
  text-decoration: none;
}
.navBox .nav li a {
  display: block;
  height: 6.667vw;
  line-height: 6.667vw;
}
.navBox .nav li a:hover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBox .nav ul li:hover::before {
  content: "";
  width: 7.778vw;
  height: 0.3vw;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 10;
}

.tabmenuBox {
  height: 0;
  overflow: hidden;
}
.tabmenuBox .tabmenu {
  display: flex;
  left: 1.9vw;
}
.tabmenuBox .tabmenu ul {
  display: flex;
  flex-direction: column;
}
.tabmenuBox .tabmenu ul:hover {
  background-color: rgba(217, 217, 217, 0.3);
}
.tabmenuBox .tabmenu ul:hover:nth-child(1)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 37vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(2)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 43.5vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(3)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 51.7vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(4)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 61.7vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(5)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 69vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover:nth-child(6)::before {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  background-color: #6f76c1;
  position: fixed;
  top: 1.9vw;
  left: 77.2vw;
  order: 10;
}
.tabmenuBox .tabmenu ul:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3vw;
  background-color: #6f76c1;
  z-index: 10;
}

.navBox:hover .tabmenuBox {
  background-color: rgba(255, 255, 255, 0.9);
  height: 16vw;
  width: 100vw;
  position: absolute;
  top: 6.667vw;
  left: -3.72vw;
  width: 100vw;
}
.navBox:hover .tabmenuBox .tabmenu {
  width: 58.889vw;
  position: relative;
}
.navBox:hover .tabmenuBox .tabmenu ul {
  height: 16vw;
  position: relative;
  left: 27.95vw;
  display: flex;
  justify-content: flex-start;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(4) {
  width: 9.8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(4) li {
  width: 9.8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(5) {
  width: 8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(5) li {
  width: 8vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(6) {
  width: 8.5vw;
}
.navBox:hover .tabmenuBox .tabmenu ul:nth-child(6) li {
  width: 8.5vw;
}
.navBox:hover .tabmenuBox .tabmenu ul li {
  display: flex;
  justify-content: center;
  width: 7.7vw;
  padding: 1vw 0;
}
.navBox:hover .tabmenuBox .tabmenu ul li * {
  color: #a9a9a9;
  font-size: 1.111vw;
}
.navBox:hover .tabmenuBox .tabmenu ul li:hover {
  position: relative;
}
.navBox:hover .tabmenuBox .tabmenu ul li:hover * {
  color: #747474;
  font-weight: bold;
  text-decoration: none;
}/*# sourceMappingURL=nav.module.css.map */