.navBox {
  .nav {
    width: 58.889vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    li {
      color: #6f76c1;
      font-size: 1.389vw;
      font-weight: bold;
      height: 6.667vw;
      display: flex;
      align-items: center;
      * {
        text-decoration: none;
      }
      a {
        display: block;
        height: 6.667vw;
        line-height: 6.667vw;
      }
    }
  }
}

/* .nav li:hover {
  a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.3vw;
      background-color: #6f76c1;
      z-index: 10;
    }
  }
}
 */
.tabmenuBox {
  height: 0;
  overflow: hidden;
  .tabmenu {
    display: flex;
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

.navBox:hover {
  .tabmenuBox {
    background-color: rgba(255, 255, 255, 0.9);
    // border: 1px solid green;
    height: 14.653vw;
    width: 100vw;
    position: absolute;
    top: 6.667vw;
    left: -3.72vw;
    width: 100vw;
    .tabmenu {
      width: 58.889vw;
      position: relative;
      ul {
        height: 14.653vw;
        position: relative;
        left: 28vw;
        display: flex;
        justify-content: flex-start;
        &:nth-child(4) {
          width: 9.028vw;
          margin: 0 1.2vw 0 1.8vw;
          li {
            width: 9.028vw;
          }
        }
        li {
          display: flex;
          justify-content: center;
          width: 7.778vw;
          padding: 1vw 0;
          * {
            color: #a9a9a9;
            font-size: 1.111vw;
          }
        }
        li:hover {
          * {
            color: #747474;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
