.pin{
    margin: 10px auto;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgba(75, 80, 132, 0.721);
    .tit{
        padding-left: 10px;
    }
    span{
        font-size: 14px;
        padding-left: 10px;
        font-weight: 500;
    }
  }

.title{
    text-align: left;
    width: 1000px;
    font-size: 34px;
    color: #6F76C1;
    padding: 20px 0;
    margin: auto;
    display: flex;
    margin-top: 20px;
    border-bottom: 2px solid #ccc;
    .img{
        width: 60px;
    }

    p{
        color:rgba(75, 80, 132, 0.721);
        font-size: 14px;
        padding-top: 20px;
        line-height: 1.2;
        font-weight: bold;
        padding-left: 5px;
    }
}
//타이틀까지


.form{
    width: 1000px;
    margin: auto;
    margin-top  : 15px;
    background:url(/public/chemiverse_img/img-main02.png)/ cover;
    .legend{
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
        color: #6F76C1;
        text-align: center;
    }
}

.tit{
    font-size: 20px;
    margin: auto;
    color: #6F76C1;
}

.checklist{
    margin: 24px;
    text-align: left;
    display: flex;
    .checkbox_wrap{
        width: 450px;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 4px 4px -4px black;
        padding: 40px;
        margin: 25px;
    }
}

.checkbox_wrap{
    font-size: 18px;
    color: gray;
    input{
        display: none;
    }
    label{
        cursor: pointer;
        position: absolute;
        transform: translateX(30px) translateY(-50%);
    }
    span{
        font-size: 12px;
    }

}

.checkbox_wrap label::before{
    height: 38px;
    width: 38px;
    content: '';
    display: block;
    background: url(/public/chemiverse_img/ic-check.png) ;
    position: absolute;
    transform: translateX(-130%) translateY(-25%);
}
.checkbox_wrap .checkbox:checked + label::before{
    height: 38px;
    width: 38px;
    content: '';
    display: block;
    background: url(/public/chemiverse_img/ic-check-on.png) ;}

//체크하면 바뀌기

.btn_wrap{display: flex; justify-content: space-between; width: 1000px; padding: 2vh 0;}

.btn_submit{
    width: 120px;
    height: 45px;
    margin: auto;
    border: none;
    border-radius: 40px;
    background-color: #6F76C1;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
 &:hover{
    text-decoration: underline;
    background-color: #bcc1f6;
    color: #6F76C1;
    font-weight: bold;
    transition: all 0.3s;
    }
 }
.btn_wrap>a{
    text-align: center; line-height: 45px; }

    //버튼