/* Learning.jsx */
.learningWrapper {
    .main {
        padding-left: 6.944vw;
        padding-right: 6.25vw;
        margin-bottom: 3.472vw;
        width: 100vw;
        height: 11.806vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(./../../../../public/chemiverse_img/bg-quiz-wrap.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 90%;
    }
    .mainTxt {
        display: flex;
        align-items: center;
    }
    .mainTxt span {
        display: inline-block;
        color: #fff;
        &:first-child {
            font-size: 3.333vw;
            font-weight: 700;
            margin-right: 2.083vw;
        }
        &:last-child {
            font-size: 0.833vw;
            line-height: 1.5;
            font-weight: 500;
        }
    }
    .mainImg {
        width: 15.833vw;
        height: auto;
    }
}
.learning {
    background-color: black;
    font-size: 100px;
}

/* learnNav */
.learnNav ul li {
    color: #6f76c1;
    border: 0.139vw solid #6f76c1;
    margin-bottom: 50px;
    width: 17.361vw;
    height: 3.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.181vw;
    font-weight: 500;
    * {
        text-decoration: none;
    }
    &:first-child {
        border-top-left-radius: 0.347vw;
        border-bottom-left-radius: 0.347vw;
        border-right: none;
    }
    &:nth-child(2) {
        border-right: none;
    }
    &:last-child {
        border-top-right-radius: 0.347vw;
        border-bottom-right-radius: 0.347vw;
        border-left: none;
    }
}
.navbtn {
    &.on {
        color: #424888;
        font-weight: 900;
        font-size: 1.25vw;
    }
}

/* Understand.jsx */
.moduleList {
    display: flex;
    margin: auto;
    .moduleListItem {
        margin: 20px;
        .imgBox {
            position: relative;
            height: 450px;
            overflow: hidden;
            img {
                overflow: hidden;
                width: 320px;
                height: 450px;
                border-radius: 10px;
            }
            .hover {
                position: absolute;
                top: 470px;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(230, 224, 236, 0.9);
                width: 640px;
                height: 300px;
                transition: 0.4s;
                opacity: 0;
                border-radius: 50%;
                padding: 60px 200px;
                font-size: 16px;
                line-height: 1.5;
            }
        }
        .moduleName {
            font-size: 20px;
            margin: 20px;
            text-align: left;
        }

        &:hover .hover {
            top: 210px;
            opacity: 1;
        }
    }
}

/* LearningModule.jsx */
.moduleBox {
    width: 1000px;
    margin: auto;
    .moduleDesc {
        display: flex;
        padding: 20px;

        .moduleImgBox {
            img {
                width: 255px;
                height: 340px;
                border-radius: 10px;
            }
            margin-right: 30px;
        }
        .moduleTextBox {
            width: 800px;
            text-align: left;
            padding: 30px 40px;
            height: 340px;
            .moduleTitle {
                font-size: 33px;
            }
            .descTitle {
                font-size: 15px;
            }
            dt {
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            dt:first-child {
                margin: 0;
                padding-bottom: 20px;
                border-bottom: 3px solid #d9d9d9;
            }
            dd {
                font-size: 16px;
            }
        }
    }
    .moduleLearning {
        .learningContents {
            display: flex;
            justify-content: space-around;
            .imgBox {
                > img {
                    width: 450px;
                    height: 250px;
                    border-radius: 10px;
                }
            }
        }
    }
}

.sectionTitle {
    margin: 30px 0;
    padding-bottom: 15px;
    text-align: left;
    color: #6f76c1;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    .sectionIcon {
        width: 50px;
        margin-right: 10px;
    }
    p {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 11px;
        font-weight: normal;
    }
}

section {
    margin: 100px 0;
}

/* Modal.jsx */
.modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .modalContent {
        background-color: white;
        border-radius: 10px;
        button {
            float: right;
            z-index: 1000;
        }
    }
    .slide {
        width: 1000px;
        height: 500px;
        position: relative;
        img {
            height: 400px;
        }
    }
    .youtube {
        height: 500px;
    }
}
