/* Learning.jsx */
/* Understand.jsx */
.moduleListArea {
    display: flex;
    margin: auto;
    width: 1000px;
    .moduleListItem {
        width: 300px;
        overflow: hidden;
        margin: 20px;
    }
}

/* LearningModule.jsx */
.moduleBox {
    .imgBox {
    }
}

/* Modal.jsx */
.modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .modalContent {
        width: 60%;
        min-height: 200px;
        background-color: white;
        padding: 25px;
    }
    .imgArea {
        display: flex;
        flex-wrap: nowrap;
    }
}
