.freePostList {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
}

.freePost {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.freePost span {
  display: block;
  color: #333;
}

.postIndex {
  width: 100px;
}

.postTitle {
  width: 600px;
  text-align: left;
}

.userName {
  width: 80px;
}
.view {
  width: 70px;
}
.date {
  width: 100px;
}
