a:hover {
  text-decoration: none;
}
.freePostList {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
  font-size: 15px;
}

.freePostList li {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e2e2e2;
}
.freePostTitle {
  background-color: #ececf7;
}
.freePostTitle span {
  text-align: center;
}

.freePost:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  transition: background-color 0.3s;
}

.freePost span {
  display: block;
  color: #333;
}

.postIndex {
  width: 50px;
}

.postTitle {
  width: 600px;
  text-align: left;
}

.userName {
  width: 80px;
}
.view {
  width: 70px;
}
.date {
  width: 100px;
}
.like {
  width: 100px;
}
