.searchHeader {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 50px;
}
.totalPost {
  margin-top: 10px;
}

.searchBar {
  height: 40px;
}
.option {
  height: 100%;
  width: 80px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  outline: none;
}
.searchInput {
  height: 100%;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  text-indent: 15px;
  font-size: 14px;
  margin-left: 5px;
  outline: none;
}
