button {
  cursor: pointer;
}

.menuTitleBanner .pin {
  font-size: 1.389vw;
  margin-bottom: 1.034vw;
  color: rgba(75, 80, 132, 0.721);
}
.menuTitleBanner .title {
  display: inline-block;
  text-align: center;
  width: 69.444vw;
  color: #6f76c1;
  font-size: 2.083vw;
  padding-bottom: 1.389vw;
}
.menuTitleBanner .subTitle {
  padding-bottom: 5.556vw;
  font-weight: 500;
}

/* PostTab */
.main {
  padding-left: 6.944vw;
  padding-right: 6.25vw;
  margin-bottom: 3.472vw;
  width: 100vw;
  height: 11.806vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/public/chemiverse_img/bg-quiz-wrap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.mainTxt {
  display: flex;
  align-items: center;
}

.mainTxt span {
  display: inline-block;
  color: #fff;
}
.mainTxt span:first-child {
  font-size: 3.333vw;
  font-weight: 700;
  margin-right: 2.083vw;
}
.mainTxt span:last-child {
  font-size: 0.833vw;
  line-height: 1.5;
  font-weight: 500;
}

.mainImg {
  width: 15.833vw;
  height: auto;
}

/* Post */
.post {
  width: 69.444vw;
  margin: auto;
}
.post .writeBtn {
  float: right;
  margin: 1.389vw 0.347vw 0.347vw;
  width: 5.556vw;
  padding: 0.694vw;
  cursor: pointer;
  border: 2px solid #6f76c1;
  color: #6f76c1;
  border-radius: 20px;
  font-size: 0.9vw;
  font-weight: 700;
}
.post .writeBtn:hover {
  background-color: #6f76c1;
  color: #fff;
  transition: all 0.33s;
}

/* PostList */
.freePostList {
  display: flex;
  flex-direction: column;
  width: 69.444vw;
  margin: auto;
  box-sizing: border-box;
  font-size: 1.042vw;
}
.freePostList a:hover {
  text-decoration: none;
}
.freePostList li {
  display: flex;
  justify-content: space-between;
  height: 3.472vw;
  line-height: 3.472vw;
  border-bottom: 1px solid #e2e2e2;
}
.freePostList .null {
  height: 34.72vw;
  line-height: 34.72vw;
}
.freePostList .freePostTitle {
  background-color: #ececf7;
}
.freePostList .freePostTitle span {
  text-align: center;
}
.freePostList .freePost:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  transition: background-color 0.3s;
}
.freePostList .freePost span {
  display: block;
  color: #333;
}
.freePostList .freePost .important {
  color: red;
  position: relative;
  font-size: 0.972vw;
}
.freePostList .freePost .important::after {
  content: "";
  display: block;
  width: 2.3vw;
  height: 1.8vw;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.freePostList .freePost span.newText {
  display: inline-block;
  color: red;
  margin-left: 1vw;
}

.postIndex {
  width: 3.472vw;
}

.postTitle {
  width: 41.667vw;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userName {
  width: 5.556vw;
}

.view {
  width: 4.861vw;
}

.date {
  width: 6.944vw;
}

.like {
  width: 6.944vw;
}

/* searchHeader */
.searchHeader {
  width: 69.444vw;
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.searchHeader .totalPost {
  margin-bottom: 1.389vw;
}

.searchBarBox {
  width: 69.444vw;
  margin: 0 auto 0.694vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.694vw;
}
.searchBarBox .searchBar {
  height: 2.778vw;
}
.searchBarBox .searchBar .option {
  height: 100%;
  width: 5.556vw;
  font-size: 0.972vw;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  outline: none;
}
.searchBarBox .searchBar .searchInput {
  height: 100%;
  width: 17.361vw;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  text-indent: 1.042vw;
  font-size: 0.972vw;
  margin-left: 0.347vw;
  outline: none;
}

/* pagination */
.pagination {
  margin: 6.944vw 0;
}
.pagination .button {
  padding: 0 0.347vw;
  margin: 0 0.347vw;
  font-size: 1.111vw;
  font-weight: 700;
  cursor: pointer;
  color: #ccc;
  vertical-align: top;
}
.pagination .button:hover {
  color: #6f76c1;
  transition: color 0.3s;
}
.pagination .button.on {
  color: #6f76c1;
}

.angleBtn {
  font-size: 1.111vw;
  vertical-align: top;
  margin: 0 0.347vw;
}
.angleBtn path {
  color: #6f76c1;
}
.angleBtn.disabled path {
  color: #bbb;
}

/* PostDetail */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.postDetailWrap {
  width: 69.444vw;
  margin: auto;
  text-align: left;
  font-size: 1.042vw;
}
.postDetailWrap .headerBox {
  width: 100%;
  height: 4.861vw;
  border-bottom: 1px solid #c2c2c2;
  padding: 0 1.389vw;
}
.postDetailWrap .headerBox .title {
  font-size: 1.667vw;
  color: #2e2e2e;
  margin-bottom: 1.389vw;
}
.postDetailWrap .headerBox .postInfo {
  font-size: 0.972vw;
  color: #686868;
}
.postDetailWrap .headerBox .postInfo span {
  margin-right: 1.042vw;
}
.postDetailWrap .body {
  width: 100%;
  padding: 2.431vw 1.736vw 10.417vw;
  color: #2e2e2e;
  border-bottom: 1px solid #c2c2c2;
  line-height: 2.2;
  word-break: keep-all;
}
.postDetailWrap .fileBox {
  padding-left: 1.389vw;
  height: 4.861vw;
  border-bottom: 1px solid #c2c2c2;
  line-height: 4.861vw;
}
.postDetailWrap .fileBox a {
  text-decoration: underline;
  margin-left: 0.694vw;
}
.postDetailWrap .listBtn {
  display: block;
  width: 10.417vw;
  height: 3.472vw;
  font-size: 1.042vw;
  background: #fff;
  border: 2px solid #6f76c1;
  border-radius: 50px;
  color: #6f76c1;
  margin: 5.208vw auto 6.944vw;
  cursor: pointer;
}
.postDetailWrap .listBtn:hover {
  background-color: #6f76c1;
  color: #fff;
  transition: all 0.3s;
}

/* WritePostPage */
.writeForm {
  width: 69.444vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.writeForm input {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  text-indent: 1.389vw;
  font-size: 1.042vw;
  border-radius: 5px;
}
.writeForm .titleInput {
  width: 100%;
  height: 3.472vw;
}
.writeForm .btnBox {
  display: flex;
  justify-content: flex-end;
  margin: 2.778vw 0;
}
.writeForm .btnBox .radioWrap {
  width: 5.556vw;
  padding: 0.694vw;
  margin: 0.347vw;
  font-size: 0.9vw;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}
.writeForm .btnBox .radioWrap input[type=checkbox],
.writeForm .btnBox .radioWrap input[type=checkbox]:checked {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 0.5vw;
}
.writeForm .btnBox .submitBtn,
.writeForm .btnBox .temporaryBtn {
  margin: 0.347vw;
  width: 5.556vw;
  padding: 0.694vw;
  cursor: pointer;
  border: 2px solid #6f76c1;
  color: #6f76c1;
  border-radius: 20px;
  font-size: 0.9vw;
  font-weight: 700;
}
.writeForm .btnBox .submitBtn:hover,
.writeForm .btnBox .temporaryBtn:hover {
  background-color: #6f76c1;
  color: #fff;
  transition: all 0.33s;
}

@media screen and (max-width: 720px) {
  .menuTitleBanner .pin {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    color: rgba(75, 80, 132, 0.721);
  }
  .menuTitleBanner .title {
    display: inline-block;
    text-align: center;
    width: 69.444vw;
    color: #6f76c1;
    font-size: 4.5vw;
    padding-bottom: 8vw;
  }
  .main {
    padding-left: 6.944vw;
    padding-right: 6.25vw;
    margin-bottom: 0;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/public/chemiverse_img/bg-quiz-wrap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
  }
  .mainTxt {
    display: flex;
    align-items: center;
  }
  .mainTxt span {
    display: inline-block;
    color: #fff;
  }
  .mainTxt span:first-child {
    font-size: 6vw;
    font-weight: 700;
    margin-right: 2.083vw;
  }
  .mainTxt span:last-child {
    display: none;
  }
  .mainImg {
    width: 30vw;
    height: auto;
  }
  /* post */
  .post {
    width: 100vw;
  }
  .post .writeBtn {
    width: 20.833vw;
    height: 8.333vw;
    font-size: 2.778vw;
    margin-right: 6.944vw;
  }
  /* postList */
  .freePostList {
    width: 90vw;
    font-size: 3.333vw;
  }
  .freePostList li {
    flex-direction: column;
    height: 22.222vw;
    line-height: normal;
    padding: 4.167vw 0;
  }
  .freePostList .freePostTitle {
    display: none;
  }
  .freePostList .freePost {
    position: relative;
  }
  .freePostList .freePost .postIndex {
    display: none;
  }
  .freePostList .freePost .postTitle {
    width: 95%;
  }
  .freePostList .freePost .postTitle span.newText {
    display: inline-block;
    color: red;
    margin-left: 1vw;
  }
  .freePostList .freePost .userName {
    display: inline;
    width: auto;
    align-self: flex-start;
    font-size: 2.5vw;
  }
  .freePostList .freePost .date {
    display: inline;
    width: auto;
    align-self: flex-start;
    font-size: 2.5vw;
  }
  .freePostList .freePost .view {
    display: none;
  }
  .freePostList .freePost .like {
    display: none;
  }
  .freePostList .freePost .postIndex.important {
    display: block;
    font-size: 2vw;
    position: absolute;
    top: 1.39vw;
    width: 5vw;
  }
  .freePostList .freePost .postIndex.important::after {
    display: none;
  }
  /* searchHeader */
  .searchHeader {
    width: 90vw;
  }
  .searchHeader .searchBarBox {
    width: 100%;
    margin-bottom: 2.083vw;
  }
  .searchHeader .searchBarBox .searchBar {
    width: 100%;
    height: 8.333vw;
    display: flex;
  }
  .searchHeader .searchBarBox .searchBar .option {
    width: 20%;
    font-size: 2.5vw;
  }
  .searchHeader .searchBarBox .searchBar .searchInput {
    width: 80%;
    font-size: 3vw;
  }
  .searchHeader .searchBarBox .searchBar .searchInput::-moz-placeholder {
    font-size: 3vw;
    text-indent: 2.083vw;
  }
  .searchHeader .searchBarBox .searchBar .searchInput:-ms-input-placeholder {
    font-size: 3vw;
    text-indent: 2.083vw;
  }
  .searchHeader .searchBarBox .searchBar .searchInput::placeholder {
    font-size: 3vw;
    text-indent: 2.083vw;
  }
  .searchHeader .totalPost {
    font-size: 2.361vw;
  }
  /* pagination */
  .pagination {
    margin-top: 13.889vw;
  }
  .pagination .button {
    font-size: 4.861vw;
    line-height: 4.861vw;
    padding: 0 1.2vw;
    margin: 0 1.2vw;
  }
  .pagination .angleBtn {
    font-size: 4.861vw;
    vertical-align: top;
  }
  /* PostDetail */
  .postDetailWrap {
    width: 90vw;
    height: auto;
    font-size: 3.472vw;
  }
  .postDetailWrap .headerBox {
    height: auto;
  }
  .postDetailWrap .headerBox .title {
    font-size: 3.472vw;
    line-height: 1.3;
  }
  .postDetailWrap .headerBox .postInfo {
    font-size: 2.5vw;
    margin-bottom: 2.5vw;
  }
  .postDetailWrap .headerBox .postInfo span {
    margin-right: 2.5vw;
  }
  .postDetailWrap .fileBox {
    font-size: 2.5vw;
    height: 8vw;
    line-height: 8vw;
  }
  .postDetailWrap .listBtn {
    width: 20.833vw;
    height: 8.333vw;
    font-size: 2.778vw;
  }
  /* WritePostPage */
  .writeForm {
    width: 90vw;
    font-size: 2.778vw;
  }
  .writeForm .titleInput {
    height: 8.333vw;
    font-size: 2.778vw;
  }
  .writeForm .btnBox {
    display: flex;
    justify-content: center;
  }
  .writeForm .btnBox .radioWrap {
    width: 20vw;
    height: 7vw;
    margin: 2vw;
    font-size: 3vw;
    font-weight: 700;
  }
  .writeForm .btnBox .submitBtn,
.writeForm .btnBox .temporaryBtn {
    width: 20vw;
    height: 7vw;
    padding: 0.694vw;
    margin: 2vw;
    cursor: pointer;
    border: 3px solid #6f76c1;
    border-radius: 5vw;
    font-size: 3vw;
    font-weight: 700;
    background-color: #6f76c1;
    color: #fff;
    margin-bottom: 10vw;
  }
}
/* secret */
.secretPage {
  font-size: 1.111vw;
}
.secretPage .message {
  height: 10.417vw;
  width: 34.722vw;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5.208vw auto 0;
  line-height: 10.417vw;
}
.secretPage .listBtn {
  display: block;
  width: 10.417vw;
  height: 3.472vw;
  font-size: 1.042vw;
  background: #fff;
  border: 2px solid #6f76c1;
  border-radius: 50px;
  color: #6f76c1;
  margin: 5.208vw auto 0;
  cursor: pointer;
}
.secretPage .listBtn:hover {
  background-color: #6f76c1;
  color: #fff;
  transition: all 0.3s;
}/*# sourceMappingURL=PostTab.module.css.map */