$innerWidth: 69.444vw;
$defaultFont: 1.042vw;
$borderRadius: 5px;

button {
  cursor: pointer;
}

.menuTitleBanner {
  .pin {
    font-size: 1.389vw;
    margin-bottom: 1.034vw;
    color: rgba(75, 80, 132, 0.721);
  }
  .title {
    display: inline-block;
    text-align: center;
    width: 69.444vw;
    color: #6f76c1;
    font-size: 2.083vw;
    // border-bottom: 2px solid #c8c8c8;
    padding-bottom: 1.389vw;
  }
  .subTitle {
    padding-bottom: 5.556vw;
    font-weight: 500;
  }
}

/* PostTab */

.main {
  padding-left: 6.944vw;
  padding-right: 6.25vw;
  margin-bottom: 3.472vw;
  width: 100vw;
  height: 11.806vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/public/chemiverse_img/bg-quiz-wrap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.mainTxt {
  display: flex;
  align-items: center;
}
.mainTxt span {
  display: inline-block;
  color: #fff;
  &:first-child {
    font-size: 3.333vw;
    font-weight: 700;
    margin-right: 2.083vw;
  }
  &:last-child {
    font-size: 0.833vw;
    line-height: 1.5;
    font-weight: 500;
  }
}
.mainImg {
  width: 15.833vw;
  height: auto;
}

/* Post */

.post {
  width: $innerWidth;
  margin: auto;
  .writeBtn {
    float: right;
    margin: 1.389vw 0.347vw 0.347vw;
    width: 5.556vw;
    padding: 0.694vw;
    cursor: pointer;
    border: 2px solid #6f76c1;
    color: #6f76c1;
    border-radius: 20px;
    font-size: 0.9vw;
    font-weight: 700;
  }
  .writeBtn:hover {
    background-color: #6f76c1;
    color: #fff;
    transition: all 0.33s;
  }
}

/* PostList */

.freePostList {
  display: flex;
  flex-direction: column;
  width: $innerWidth;
  margin: auto;
  box-sizing: border-box;
  font-size: $defaultFont;
  a:hover {
    text-decoration: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    height: 3.472vw;
    line-height: 3.472vw;
    border-bottom: 1px solid #e2e2e2;
  }

  .null {
    height: calc(3.472vw * 10);
    line-height: calc(3.472vw * 10);
  }

  .freePostTitle {
    background-color: #ececf7;
    span {
      text-align: center;
    }
  }
  .freePost {
    &:hover {
      background-color: #f5f5f5;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    span {
      display: block;
      color: #333;
    }
    .important {
      color: red;
      position: relative;
      font-size: 0.972vw;
      &::after {
        content: '';
        display: block;
        width: 2.3vw;
        height: 1.8vw;
        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    span.newText {
      display: inline-block;
      color: red;
      margin-left: 1vw;
    }
  }
}
.postIndex {
  width: 3.472vw;
}

.postTitle {
  width: 41.667vw;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userName {
  width: 5.556vw;
}
.view {
  width: 4.861vw;
}
.date {
  width: 6.944vw;
}
.like {
  width: 6.944vw;
}

/* searchHeader */
.searchHeader {
  width: $innerWidth;
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .totalPost {
    margin-bottom: 1.389vw;
  }
}

.searchBarBox {
  width: $innerWidth;
  margin: 0 auto 0.694vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.694vw;
  .searchBar {
    height: 2.778vw;
    .option {
      height: 100%;
      width: 5.556vw;
      font-size: 0.972vw;
      text-align: center;
      border-radius: $borderRadius;
      border: 1px solid #c2c2c2;
      outline: none;
    }
    .searchInput {
      height: 100%;
      width: 17.361vw;
      border-radius: $borderRadius;
      border: 1px solid #c2c2c2;
      text-indent: 1.042vw;
      font-size: 0.972vw;
      margin-left: 0.347vw;
      outline: none;
    }
  }
}

/* pagination */
.pagination {
  margin: 6.944vw 0;
  .button {
    padding: 0 0.347vw;
    margin: 0 0.347vw;
    font-size: 1.111vw;
    font-weight: 700;
    cursor: pointer;
    color: #ccc;
    vertical-align: top;
    &:hover {
      color: #6f76c1;
      transition: color 0.3s;
    }
    &.on {
      color: #6f76c1;
    }
  }
}
.angleBtn {
  font-size: 1.111vw;
  vertical-align: top;
  margin: 0 0.347vw;
  path {
    color: #6f76c1;
  }
  &.disabled {
    path {
      color: #bbb;
    }
  }
}

/* PostDetail */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.postDetailWrap {
  width: $innerWidth;
  margin: auto;

  text-align: left;
  font-size: $defaultFont;
  .headerBox {
    width: 100%;
    height: 4.861vw;
    border-bottom: 1px solid #c2c2c2;
    padding: 0 1.389vw;
    .title {
      font-size: 1.667vw;
      color: #2e2e2e;
      margin-bottom: 1.389vw;
    }
    .postInfo {
      font-size: 0.972vw;
      color: #686868;
      span {
        margin-right: 1.042vw;
      }
    }
  }
  .body {
    width: 100%;
    padding: 2.431vw 1.736vw 10.417vw;
    color: #2e2e2e;
    border-bottom: 1px solid #c2c2c2;
    line-height: 2.2;
    word-break: keep-all;
  }
  .fileBox {
    padding-left: 1.389vw;
    height: 4.861vw;
    border-bottom: 1px solid #c2c2c2;
    line-height: 4.861vw;
    a {
      text-decoration: underline;
      margin-left: 0.694vw;
    }
  }
  .listBtn {
    display: block;
    width: 10.417vw;
    height: 3.472vw;
    font-size: $defaultFont;
    background: #fff;
    border: 2px solid #6f76c1;
    border-radius: 50px;
    color: #6f76c1;
    margin: 5.208vw auto 6.944vw;
    cursor: pointer;
    &:hover {
      background-color: #6f76c1;
      color: #fff;
      transition: all 0.3s;
    }
  }
}

/* WritePostPage */

.writeForm {
  width: $innerWidth;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  input {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 1.389vw;
    font-size: $defaultFont;
    border-radius: $borderRadius;
  }

  .titleInput {
    width: 100%;
    height: 3.472vw;
  }
  .btnBox {
    display: flex;
    justify-content: flex-end;
    margin: 2.778vw 0;
    .radioWrap {
      width: 5.556vw;
      padding: 0.694vw;
      margin: 0.347vw;
      font-size: 0.9vw;
      font-weight: 700;
      background-color: #fff;
      color: #333;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      input[type='checkbox'],
      input[type='checkbox']:checked {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 0.5vw;
      }
    }
    .submitBtn,
    .temporaryBtn {
      margin: 0.347vw;
      width: 5.556vw;
      padding: 0.694vw;
      cursor: pointer;
      border: 2px solid #6f76c1;
      color: #6f76c1;
      border-radius: 20px;
      font-size: 0.9vw;
      font-weight: 700;
      &:hover {
        background-color: #6f76c1;
        color: #fff;
        transition: all 0.33s;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .menuTitleBanner {
    .pin {
      font-size: 3vw;
      margin-bottom: 1.5vw;
      color: rgba(75, 80, 132, 0.721);
    }
    .title {
      display: inline-block;
      text-align: center;
      width: 69.444vw;
      color: #6f76c1;
      font-size: 4.5vw;
      // border-bottom: 2px solid #c8c8c8;
      padding-bottom: 8vw;
    }
  }
  .main {
    padding-left: 6.944vw;
    padding-right: 6.25vw;
    margin-bottom: 0;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/public/chemiverse_img/bg-quiz-wrap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
  }
  .mainTxt {
    display: flex;
    align-items: center;
  }
  .mainTxt span {
    display: inline-block;
    color: #fff;
    &:first-child {
      font-size: 6vw;
      font-weight: 700;
      margin-right: 2.083vw;
    }
    &:last-child {
      display: none;
    }
  }
  .mainImg {
    width: 30vw;
    height: auto;
  }

  /* post */
  .post {
    width: 100vw;
    .writeBtn {
      width: 20.833vw;
      height: 8.333vw;
      font-size: 2.778vw;
      margin-right: 6.944vw;
    }
  }

  /* postList */
  .freePostList {
    width: 90vw;
    font-size: 3.333vw;
    li {
      flex-direction: column;
      height: 22.222vw;
      line-height: normal;
      padding: 4.167vw 0;
    }
    .freePostTitle {
      display: none;
    }
    .freePost {
      position: relative;
      .postIndex {
        display: none;
      }
      .postTitle {
        width: 95%;
        span.newText {
          display: inline-block;
          color: red;
          margin-left: 1vw;
        }
      }
      .userName {
        display: inline;
        width: auto;
        align-self: flex-start;
        font-size: 2.5vw;
      }
      .date {
        display: inline;
        width: auto;
        align-self: flex-start;
        font-size: 2.5vw;
      }
      .view {
        display: none;
      }
      .like {
        display: none;
      }
      .postIndex.important {
        display: block;
        font-size: 2vw;
        position: absolute;
        top: 1.39vw;
        width: 5vw;
        &::after {
          display: none;
        }
      }
    }
  }

  /* searchHeader */
  .searchHeader {
    width: 90vw;
    .searchBarBox {
      width: 100%;
      margin-bottom: 2.083vw;
      .searchBar {
        width: 100%;
        height: 8.333vw;
        display: flex;
        .option {
          width: 20%;
          font-size: 2.5vw;
        }
        .searchInput {
          width: 80%;
          font-size: 3vw;
          &::placeholder {
            font-size: 3vw;
            text-indent: 2.083vw;
          }
        }
      }
    }
    .totalPost {
      font-size: 2.361vw;
    }
  }

  /* pagination */
  .pagination {
    margin-top: 13.889vw;
    .button {
      font-size: 4.861vw;
      line-height: 4.861vw;
      padding: 0 1.2vw;
      margin: 0 1.2vw;
    }
    .angleBtn {
      font-size: 4.861vw;
      vertical-align: top;
    }
  }

  /* PostDetail */
  .postDetailWrap {
    width: 90vw;
    height: auto;
    font-size: 3.472vw;
    .headerBox {
      height: auto;
      .title {
        font-size: 3.472vw;
        line-height: 1.3;
      }
      .postInfo {
        font-size: 2.5vw;
        margin-bottom: 2.5vw;
        span {
          margin-right: 2.5vw;
        }
      }
    }
    .fileBox {
      font-size: 2.5vw;
      height: 8vw;
      line-height: 8vw;
    }
    .listBtn {
      width: 20.833vw;
      height: 8.333vw;
      font-size: 2.778vw;
    }
  }

  /* WritePostPage */
  .writeForm {
    width: 90vw;
    font-size: 2.778vw;
    .titleInput {
      height: 8.333vw;
      font-size: 2.778vw;
    }
    .btnBox {
      display: flex;
      justify-content: center;
      .radioWrap {
        width: 20vw;
        height: 7vw;
        margin: 2vw;
        font-size: 3vw;
        font-weight: 700;
      }
      .submitBtn,
      .temporaryBtn {
        width: 20vw;
        height: 7vw;
        padding: 0.694vw;
        margin: 2vw;
        cursor: pointer;
        border: 3px solid #6f76c1;
        border-radius: 5vw;
        font-size: 3vw;
        font-weight: 700;
        background-color: #6f76c1;
        color: #fff;
        margin-bottom: 10vw;
      }
    }
  }
}

/* secret */
.secretPage {
  font-size: 1.111vw;
  .message {
    height: 10.417vw;
    width: 34.722vw;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 5.208vw auto 0;
    line-height: 10.417vw;
  }
  .listBtn {
    display: block;
    width: 10.417vw;
    height: 3.472vw;
    font-size: $defaultFont;
    background: #fff;
    border: 2px solid #6f76c1;
    border-radius: 50px;
    color: #6f76c1;
    margin: 5.208vw auto 0;
    cursor: pointer;
    &:hover {
      background-color: #6f76c1;
      color: #fff;
      transition: all 0.3s;
    }
  }
}
