.mainBox {
  width: 80vw;
  margin: 2vw auto;
  display: flex;
  justify-content: space-between;
  > :first-child {
    width: 60%;
    height: 53vw;
  }
}
body {
  overflow-x: hidden;
}
.eventBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  align-items: center;
  border: 1px solid #ddd;
  height: 47.9vw;
  top: 5.1vw;
  position: relative;
  padding: 3vw 0;
}
.h1Event {
  font-size: 1.2vw;
}
.h2Event {
  font-size: 1vw;
}
@media screen and (max-width: 720px) {
  .mainBox {
    flex-direction: column;
    > :first-child {
      width: 100%;
    }
  }
}
