.diagnosis .main {
  padding-left: 6.944vw;
  padding-right: 6.25vw;
  margin-bottom: 3.472vw;
  width: 100vw;
  height: 11.806vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./../../../../public/chemiverse_img/bg-quiz-wrap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}
.diagnosis .mainTxt {
  display: flex;
  align-items: center;
}
.diagnosis .mainTxt span {
  display: inline-block;
  color: #fff;
}
.diagnosis .mainTxt span:first-child {
  font-size: 3.333vw;
  font-weight: 700;
  margin-right: 2.083vw;
}
.diagnosis .mainTxt span:last-child {
  font-size: 0.833vw;
  line-height: 1.5;
  font-weight: 500;
}
.diagnosis .mainImg {
  width: 15.833vw;
  height: auto;
}

.diaNav ul li {
  color: #6f76c1;
  border: 0.139vw solid #6f76c1;
  margin-bottom: 3.472vw;
  width: 17.361vw;
  height: 3.125vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.181vw;
  font-weight: 500;
}
.diaNav ul li * {
  text-decoration: none;
}
.diaNav ul li:last-child {
  border-top-right-radius: 0.347vw;
  border-bottom-right-radius: 0.347vw;
  border-left: none;
}

.navbtn.on {
  color: #424888;
  font-weight: 900;
  font-size: 1.25vw;
}

.nowContainer {
  width: 100%;
  margin: auto;
}

.diagnosisInner {
  width: 83.333vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabbutton {
  width: 6.722vw;
  height: 3.125vw;
  border: 0.069vw solid #6f76c1;
  cursor: pointer;
  margin-bottom: 1.125vw;
  margin-right: 1.125vw;
}

.diaInner {
  width: 69.444vw;
}

/* ================================ */
.presentBefore {
  width: 100%;
  margin: auto;
}
.presentBefore .testHeader {
  width: 65.972vw;
  height: 25.417vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /*   background-image: url(./../../../../public/DiagnosisImg/diaprevtest.png);
    background-size: cover;
    background-position: center; */
}
.presentBefore .diaTestHeaderImg {
  width: 34.444vw;
  height: 18.403vw;
}
.presentBefore .diaTestHeaderAfreImg {
  width: 29.861vw;
  height: 19.792vw;
}
.presentBefore .testDesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.presentBefore .testTitle {
  font-size: 1.736vw;
  line-height: 1.736vw;
  margin-bottom: 1.389vw;
  color: #424888;
}
.presentBefore .testdes {
  line-height: 1.389vw;
  margin-bottom: 0.972vw;
  font-size: 0.972vw;
}
.presentBefore .testinfo {
  font-size: 0.833vw;
  color: rgb(202, 83, 83);
}

.formArea {
  border: 0.069vw solid #6f76c1;
  border-radius: 0.694vw;
  padding-top: 2.083vw;
  padding-bottom: 4.861vw;
  margin: 2.778vw 2.389vw;
}
.formArea .testName {
  background-color: #4e559a;
  width: 27.778vw;
  height: 2.431vw;
  color: #fff;
  text-align: center;
  font-size: 1.389vw;
  line-height: 2.431vw;
  font-weight: bold;
  margin: 1.389vw auto;
  border-radius: 1.389vw;
}
.formArea .questionbox {
  text-align: center;
  margin: 2.083vw 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.formArea .questionTitle {
  font-size: 1.25vw;
  line-height: 1.25vw;
  font-weight: bold;
  color: #272728;
  padding: 0 0.347vw 0.347vw 0;
  margin: 1.389vw auto;
}
.formArea .titleNumber {
  color: #4e559a;
}
.formArea input[type=radio] {
  display: none;
}
.formArea label {
  display: block;
  cursor: pointer;
  margin-bottom: 0.347vw;
}
.formArea label span {
  display: inline-flex;
  align-items: center;
  padding: 0.347vw 1.389vw 0.347vw 0.694vw;
  border-radius: 2.153vw;
  transition: 0.24s ease;
  font-size: 1.042vw;
}
.formArea label span:hover,
.formArea input[type=radio]:checked + span {
  background-color: #d6d6e5;
}
.formArea label span::before {
  /* display: inline-block; */
  content: "";
  background-color: #fff;
  width: 1.042vw;
  height: 1.042vw;
  border-radius: 50%;
  margin-right: 0.694vw;
  transition: 0.24s ease;
  box-shadow: inset 0 0 0 0.139vw #6f76c1;
}
.formArea input[type=radio]:checked + label span::before {
  box-shadow: inset 0 0 0 0.278vw #00005c;
}
.formArea input[type=text] {
  box-shadow: inset 0 0 0 0.139vw #6f76c1;
  border-radius: 1.389vw;
  color: #58585d;
  width: 20.833vw;
  height: 2.778vw;
  font-size: 1.042vw;
  padding: 0.694vw 1.389vw;
}
.formArea .textbox {
  align-items: center;
}
.formArea .infomesage {
  color: rgba(202, 27, 27, 0.809);
  font-size: 0.972vw;
  font-weight: bold;
  padding-top: 3vw;
  padding-bottom: 4.389vw;
}
.formArea .formbutton {
  width: 10.556vw;
  padding: 0.694vw;
  margin: 0 1.2vw;
  cursor: pointer;
  border: 2px solid #6F76C1;
  color: #6F76C1;
  border-radius: 1.389vw;
  font-size: 1.042vw;
  font-weight: 700;
}
.formArea .formbutton:hover {
  background-color: #6F76C1;
  color: #fff;
}

.resultbefore {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultbefore .chartcontainer {
  width: 100%;
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  padding: 1vw;
  flex-wrap: wrap;
}
.resultbefore .chartbox {
  width: 16.667vw;
  height: 16.667vw;
  font-size: 0.847vw;
  text-align: center;
  line-height: 0.847vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultbefore .chartitem {
  border-radius: 50%;
  background-color: rgba(249, 249, 255, 0.9333333333);
}
.resultbefore .charttitle {
  font-size: 1.389vw;
  font-weight: bold;
  text-align: center;
  color: #222226;
  cursor: pointer;
  padding-top: 1.25vw;
}

.undercontentsarea {
  border: 0.069vw solid #d6d6e5;
  border-radius: 0.069vw;
  margin: 3.472vw 0;
  padding: 0.694vw 0 2.083vw 0;
}
.undercontentsarea .threeContent {
  margin: 1.389vw 0.694vw;
}
.undercontentsarea .threeOfAllTitle {
  background-color: #4e559a;
  width: 27.778vw;
  height: 2.431vw;
  color: #fff;
  text-align: center;
  font-size: 1.389vw;
  line-height: 2.431vw;
  font-weight: bold;
  margin: 1.389vw auto;
  border-radius: 1.389vw;
}
.undercontentsarea .threeOfAllDes {
  font-size: 1vw;
  line-height: 1.5;
  color: #272727;
  font-weight: 600;
}
.undercontentsarea .AllDesNotice {
  color: rgb(218, 3, 3);
}
.undercontentsarea .threeOfAllItemBox {
  font-weight: 500;
}
.undercontentsarea .threeOfAllItemBox .itemNumber {
  width: 3.472vw;
  height: 3.472vw;
  border-radius: 50%;
  background-color: #f74418;
  color: #fff;
  line-height: 3.472vw;
  font-style: italic;
  font-weight: 700;
  font-size: 1.389vw;
  margin: 1.389vw auto;
}
.undercontentsarea .threeOfAllItemBox .itemDes {
  display: inline-block;
  font-size: 1.667vw;
}
.undercontentsarea .threeOfAllItemBox .itemHelp {
  font-size: 1.042vw;
  padding: 1.389vw 0;
}

.resutlAfterContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.resutlAfterContainer .resultChartName {
  font-size: 1.389vw;
  font-weight: bold;
  line-height: 1.389vw;
  text-align: left;
}
.resutlAfterContainer .afterResult {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.069vw solid #f2f3fc;
  border-radius: 0.694vw;
  padding: 2.083vw 3.125vw;
}
.resutlAfterContainer .afterResult .resultChartTitlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.resutlAfterContainer .afterResult .resultChartName {
  font-size: 1.389vw;
  text-align: center;
  line-height: 2.083vw;
  border-radius: 1.389vw;
  width: 11.111vw;
  height: 2.431vw;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff, #fff), linear-gradient(to right, #ffefca, #d2edec, #cdf8dd);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 0.694vw;
}
.resutlAfterContainer .afterResult p {
  font-size: 0.972vw;
  color: #272728;
  padding-left: 0.347vw;
}
.resutlAfterContainer .afterResult .resultChartImg {
  width: 22.833vw;
  height: 15.972vw;
  padding-top: 1.389vw;
  padding-left: 3.472vw;
}
.resutlAfterContainer .afterResult .beforeChart {
  font-size: 1.211vw;
  font-weight: bold;
  line-height: 1.211vw;
}
.resutlAfterContainer .arrowIcon {
  font-size: 5.472vw;
  color: #58585d;
  margin: 3.389vw auto;
}

@media screen and (max-width: 720px) {
  .diagnosis .main {
    padding-left: 6.944vw;
    padding-right: 6.25vw;
    margin-bottom: 0;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./../../../../public/chemiverse_img/bg-quiz-wrap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
  }
  .diagnosis .mainTxt {
    display: flex;
    align-items: center;
  }
  .diagnosis .mainTxt span {
    display: inline-block;
    color: #fff;
  }
  .diagnosis .mainTxt span:first-child {
    font-size: 6vw;
    font-weight: 700;
    margin-right: 2.083vw;
  }
  .diagnosis .mainTxt span:last-child {
    display: none;
  }
  .diagnosis .mainImg {
    width: 30vw;
    height: auto;
  }
  .nav ul li {
    color: #6f76c1;
    border: none;
    margin-bottom: 5vw;
    width: 100%;
    height: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: 500;
  }
  .nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav ul li * {
    text-decoration: none;
  }
  .navbtn.on {
    color: #424888;
    font-weight: 700;
    font-size: 3vw;
    transition: all 0.2s;
    border-bottom: 5px solid #424888;
  }
  .presentBefore {
    width: 100%;
    margin: auto;
  }
  .presentBefore .testHeader {
    display: none;
  }
  .presentBefore .diaTestHeaderImg {
    display: none;
  }
  .presentBefore .diaTestHeaderAfreImg {
    display: none;
  }
  .presentBefore .testTitle {
    font-size: 3.736vw;
    margin-bottom: 4.389vw;
    color: #fff;
  }
  .presentBefore .testdes {
    color: #fff;
    margin-bottom: 0.972vw;
    font-size: 1.972vw;
    line-height: 1.5;
  }
  .presentBefore .testinfo {
    display: none;
  }
  .formArea {
    width: 100%;
    border-radius: 0.694vw;
    padding-top: 2.083vw;
    padding-bottom: 4.861vw;
    background-color: #fafaff;
    border: none;
  }
  .formArea .testName {
    background-color: #4e559a;
    width: 35.778vw;
    height: 5.431vw;
    color: #fff;
    text-align: center;
    font-size: 3.389vw;
    line-height: 4.6vw;
    font-weight: bold;
    border-radius: 1.389vw;
  }
  .formArea .questionbox {
    margin: 2.083vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formArea .questionTitle {
    text-align: left;
    font-size: 3.2vw;
    line-height: 3vw;
    font-weight: 600;
    color: #272728;
    padding: 0 0.347vw 0.347vw 0;
    background-color: #fff;
  }
  .formArea .titleNumber {
    font-size: 1rem;
    color: #4e559a;
  }
  .formArea label span {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .formArea label span::before {
    width: 2.042vw;
    height: 2.042vw;
    margin-right: 1.694vw;
  }
  .formArea input[type=radio]:checked + label span::before {
    box-shadow: inset 0 0 0 0.678vw #00005c;
  }
  .formArea input[type=text] {
    box-shadow: inset 0 0 0 0.139vw #6f76c1;
    border-radius: 1.389vw;
    color: #58585d;
    width: 45vw;
    height: 5.778vw;
    font-size: 1.042vw;
    padding: 0.694vw 1.389vw;
  }
  .formArea .infomesage {
    color: rgba(202, 27, 27, 0.809);
    font-size: 0.272vw;
    font-weight: bold;
    padding-top: 3vw;
    padding-bottom: 4.389vw;
  }
  .formArea .formbutton {
    width: 10.556vw;
    padding: 0.694vw;
    margin: 0 1.2vw;
    cursor: pointer;
    border: 2px solid #6F76C1;
    color: #6F76C1;
    border-radius: 1.389vw;
    font-size: 1.042vw;
    font-weight: 700;
  }
  .formArea .formbutton:hover {
    background-color: #6F76C1;
    color: #fff;
  }
  .resultbefore .chartcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
  }
  .resultbefore .chartbox {
    width: 16.667vw;
    height: 16.667vw;
    font-size: 0.847vw;
    text-align: center;
    line-height: 0.847vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resultbefore .chartitem {
    display: none;
  }
}/*# sourceMappingURL=diagnosis.module.css.map */